@charset "UTF-8";

.c-tit01 {
    position: relative;
    display: inline-block;
    font-size: 48px;
    padding-top: 30px;
}

.c-tit01:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    width: calc(100% - 25px);
    height: 4px;
    background-color: #222222;
}

#subvis .c-tit01 {
    margin-bottom: 40px;
}