@charset "UTF-8";

/** ===== Title Style ===== */
/** -- 타이틀1  */
.c-tit01 {
    position: relative;
    display: inline-block;
    font-size: 48px;
    padding-top: 30px;
}

.c-tit01:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    width: calc(100% - 25px);
    height: 4px;
    background-color: #222222;
}

#subvis .c-tit01 {
    margin-bottom: 40px;
}


/** -- 타이틀2  */
.c-tit02 {font-weight:600;line-height:1;transition:all .3s ease}
.c-tit02 {position:relative;padding-left:28px;margin-bottom:25px;color:#222;font-size:1.888em;letter-spacing:-.094em;line-height:1.294}
.c-tit02:before {content:"";display:block;position:absolute;left:0;top:0;background:url(/homepage/kor/_Img/Common/deco_ctit01.svg) no-repeat;width:15px;height:15px;z-index:-1;transition:all .3s ease}

@media all and (max-width:999px) {
	.c-tit02 {margin-bottom:15px;padding-left:24px}
	.c-tit02:before {width:13px;height:13px;background-size:auto 13px}
}

@media all and (max-width:768px) {
	.c-tit02 {padding-left:20px;margin-bottom:10px;font-size:1.54em}
	.c-tit02:before {width:10px;height:10px;background-size:auto 10px}
}


/** -- 컬러  */
.black-t1 {
  color: #222222;
}

.black-t2 {
  color: #444444;
}

.black-t3 {
  color: #555555;
}

.gray-6a {
  color: #6A6A6A;
}

.gray-92 {
  color: #929292;
}

.gray-a1 {
  color: #A1A1A1;
}

.border-style-1 {
  border: 1px solid #E2E2E2;
}

.border-t-style-1 {
  border-top: 1px solid #E2E2E2;
}

.border-b-style-1 {
  border-bottom: 1px solid #E2E2E2;
}

.border-radius-15 {
  border-radius: 15px;
}

.shadow-1 {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

/** ===== Button Style ===== */
.btn-style-1 {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border-radius: 15px;
  padding: 19px 28px;
  background-image: linear-gradient(to right, #B3D5F0, #468FAF, #014F86, #014F86, #468FAF, #B3D5F0);
  background-size: 200% auto;
  background-position: left center;
  overflow: hidden;
  box-sizing: border-box;
  transition-property: background-position;
  transition-duration: .3s;
}

.btn-style-1:hover {
  background-position: right center;
}

.btn-style-2 {
  font-size: 22px;
  color: #222222;
  font-weight: 700;
  text-align: center;
  padding: 19px 28px;
  border: 1px solid #E2E2E2;
  border-radius: 15px;
  background-image: linear-gradient(to right, #ffffff 55%, #DEEEFE88, #B6C9CF88, #FA981966, #F45F0066);
  background-size: 200% auto;
  background-position: left center;
  overflow: hidden;
  box-sizing: border-box;
  transition-property: background-position;
  transition-duration: .3s;
}

.btn-style-2:hover {
  background-position: right center;
}


/** ===== Accordian Style ===== */
.accordian-head {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordian-content {
  height: 0;
  background-color: #f5f5f5;
  transition: height .3s ease;
  overflow-y: scroll;
  box-sizing: border-box;
}

.accordian.is-open > .accordian-content {
  height: 200px;
}

.accordian-arrow {
  display: block;
  position: relative;
  border:0;
  width:24px;
  height:24px;
}

.accordian-arrow::before {
  display:block;
  content:'';
  position:absolute;
  top:50%;
  right:6px;
  margin-top:-6px;
  width:10px;
  height:10px;
  border-top:2px solid #a4a4a4;
  border-right:2px solid #a4a4a4;
  transform:rotate(135deg);
  z-index:1;
  transition:all .3s ease;
}

.accordian.is-open .accordian-arrow::before {
  transform: rotate(315deg);
}


/** ===== Form Style ===== */
input:focus-visible {outline: 1px dashed #000000;box-shadow: 0 0 4px 4px #00000022;}

/** -- checkbox */
.checkbox-group {position:relative;line-height:1}
.checkbox-group input[type="checkbox"] {position:absolute;border:0;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0)}
.checkbox-group input[type="checkbox"] + label {display:inline-block;position:relative;padding:5px 0 5px 25px;margin-right:5px;color:#666;line-height:1.2;letter-spacing:0;text-align:left;vertical-align:middle;cursor:pointer;user-select:none;transition:all .3s ease}
.checkbox-group input[type="checkbox"] + label:before,
.checkbox-group input[type="checkbox"] + label:after {content:"";position:absolute;transition:all .3s ease;box-sizing:border-box}
.checkbox-group input[type="checkbox"] + label:before {left:0;top:5px;background:#ebebeb;border:1px solid #c6c6c6;border-radius:5px;width:20px;height:20px}
.checkbox-group input[type="checkbox"] + label:after {left:6px;top:11px;border:solid;border-width:0 0 2px 2px;border-color:transparent transparent #999 #999;width:8px;height:5px;transform:rotate(-45deg)}
.checkbox-group input[type="checkbox"] + label:hover {color:#222222}
.checkbox-group input[type="checkbox"] + label:hover:before {border-color:#222222}
.checkbox-group input[type="checkbox"]:checked + label {color:#222222;font-weight:700}
.checkbox-group input[type="checkbox"]:checked + label:before {border-color:#222222;background:#222222}
.checkbox-group input[type="checkbox"]:checked + label:after {border-color:transparent transparent #fff #fff}

.checkbox-group.black input[type="checkbox"] + label {color:#222222}
.checkbox-group.black input[type="checkbox"] + label:before {border-color:#222222;}

@media all and (max-width:768px) {
	.checkbox-group input[type="checkbox"] + label:before {top:5px}
	.checkbox-group input[type="checkbox"] + label:after {top:10px}
}