@charset "UTF-8";

/* ========================================================== */
/* == 헤더 스타일 */
/* ========================================================== */
header {
    position:fixed;
    display: flex;
    width: 100%;
    height: 118px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #222222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    transform: translateY(0);
    transition-property: transform, background-color, color, opacity, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    will-change: transform, background-color, color, opacity, border;
    --header-color: #222222;
    z-index: 10;
}

html:has(main) header {
    animation: initialAnimation 1.2s;
}

@keyframes initialAnimation {
    from {opacity: 0; transform: translateY(-100%);}
    to {opacity: 1; transform: translate(0);}
}

.inner-header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header .user-btn {
    border-color: #222222;
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    will-change: border-color;
}

header .user-btn .arr {
    display: block;
    background-image: url("/assets/arrow_link_bk.png");
    background-position: center;
    background-size: contain;
}

/* == 헤더 기본 스타일 1: 메인 */
.has-hstyle-1 header {
    background-image: linear-gradient(180deg, #00000066, #00000000);
    color: #ffffff;
    --header-color: #ffffff;
    border: none;
}

.has-hstyle-1 nav ul li a span::before {
    background-color: #ffffff;
}

.has-hstyle-1 header .user-btn {
    border-color: #ffffff;
}

.has-hstyle-1 header .user-btn .arr {
    background-image: url("/assets/arrow_link_wh.png");
}

.has-hstyle-2 #header {
    background-image: none;
    background-color: #FFFFFFB2;
    backdrop-filter: blur(35px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    color: #222222;
    --header-color: #222222;
}

.has-hstyle-2 #header .user-btn {
    border-color: #222222;
}

.has-hstyle-2 header .user-btn .arr {
    background-image: url("/assets/arrow_link_bk.png");
}

/* Nav */
nav ul li {
    position: relative;
}

nav ul li a span {
    position: relative;
    display: inline-block;
}

nav ul li a span::before {
    content:"";
    display: block;
    position: absolute;
    left:unset;
    right:0;
    bottom: -4px;
    width:0;
    height:2px;
    background-color: #000;
    transition: all .3s ease;
}

nav ul li a:hover span::before {
    left:0;
    right:unset;
    width: 100%;
}

/* 헤더- 메뉴버튼 */
header .mobile-menu-btn{
    position: relative;
    padding:10px; cursor: pointer;
}

header .mobile-menu-btn::before,
header .mobile-menu-btn::after,
header .mobile-menu-btn span{
    content: ""; display: block;
    height: var(--menu-line-height);
    background-color: #222;
    background-color: var(--header-color);
    transition: opacity var(--menu-ani-timing),
    transform var(--menu-ani-timing), width var(--menu-ani-timing),
    margin var(--menu-ani-timing);
    transform-origin: left center;
}

header .mobile-menu-btn span{
    width: var(--menu-line-width);
    margin-top: var(--menu-line-gap); margin-bottom: var(--menu-line-gap);
}

header .mobile-menu-btn::before{
    width: calc(var(--menu-line-width) / 2);
}

header .mobile-menu-btn::after{
    width: calc(var(--menu-line-width) / 2);
    margin-left: calc(var(--menu-line-width) / 2);
}

.is-mobile-menu-open .mobile-menu-btn span{
    opacity: 0; width: 0;
}

.is-mobile-menu-open .mobile-menu-btn::before{
    transform: rotate(45deg) translateY(calc(var(--menu-line-height) / -1.4142135));
    width: var(--x-btn-width);
}

.is-mobile-menu-open .mobile-menu-btn::after{
    transform: rotate(-45deg) translateY(calc(var(--menu-line-height) / 1.4142135));
    width: var(--x-btn-width); margin-left: 0;
}

.is-mobile-menu-open .user-btn-group {
    position: absolute;
    right:110px;
}

.is-mobile-menu-open .user-btn,
.is-mobile-menu-open #user-util-btns {
    display: flex;
}

/* ========================================================== */
/* == 반응형 */
/* ========================================================== */

@media all and (min-width:1601px) {
    .inner-header {
        max-width:1500px;
        padding: 0;
    }
}

@media all and (max-width: 1600px) {
    .inner-header {
        max-width: none;
        padding: 0 50px;
    }
}

@media all and (max-width: 1280px) {
    header {
        height:90px;
    }

    .inner-header {
        padding: 0 30px;
    }
}

@media all and (max-width: 500px) {
    .inner-header {
        padding: 0 20px;
    }

    header .mobile-menu-btn {
        padding: 0;
    }

    .is-mobile-menu-open header .user-btn-group {
        right:70px;
    }
}


/* ========================================================== */
/* == 접근성 */
/* ========================================================== */
@media (prefers-reduced-motion: reduce) {
    header {transform: translateY(0) !important;}
}