@charset "UTF-8";

:root {
    --footer-height: 250px;
}

html, body {
  font-family: var(--font-dm-sans, --font-inter-sans, --default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  min-width: 320px;
}

#subvis {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
}

#inner-subvis {
    height: 100%;
}

#contents {
    min-height: 1500px;
    padding-bottom: 250px;
    padding-bottom: var(--footer-height);
}

.section {
    margin: 0 auto;
}

footer {
    position: absolute;
    width: 100%;
    height: 250px;
    height: var(--footer-height);
    left:0;
    bottom: 0;
    background-color: #FFFFFF99;
    backdrop-filter: blur(70px);
    border-radius: 50px 50px 0 0;
}

.inner-footer {
    height: 100%;
    margin: 0 auto
}

@media all and (min-width:1601px) {

    #subvis {
        min-height: 500px;
        padding-top: 230px;
    }

    #inner-subvis {
        width: 100%;
        max-width: 1500px;
        padding: 0 0 56px;
    }
    
    #contents {
        padding-bottom: 250px;
        padding-bottom: var(--footer-height);
    }

    .section {
        max-width:1500px;
        padding: 130px 0;
    }

    .inner-footer {
        max-width:1500px;
        padding: 50px 0 20px;
    }
}

@media all and (max-width: 1600px) {
    #subvis {
        min-height: 450px;
        padding-top: 200px;
    }

    #inner-subvis {
        width: 100%;
        max-width: none;
        padding: 0 50px 40px;
    }
    
    .section {
        max-width: none;
        padding: 80px 50px;
    }

    .inner-footer {
        max-width: none;
        padding: 40px 50px 20px;
    }

    #subvis .c-tit01 {
        font-size: 32px;
        margin-bottom: 30px;
    }
}

@media all and (max-width: 1280px) {
    #subvis {
        padding-top:180px;
    }

    #inner-subvis {
        padding: 0 30px 40px;
    }

    .section {
        padding: 50px 30px;
    }

    .inner-footer {
        padding: 40px 30px 20px;
    }
}

@media all and (max-width: 769px) {
    :root {
        --footer-height: 200px;
    }

    #subvis {
        position: relative !important;
        display: block !important;
        min-height: initial;
        padding-top:130px;
    }

    #subvis .c-tit01 {
        font-size: 26px;
        padding-top: 20px;
    }

    #contents {
        padding-bottom: 200px;
        padding-bottom: var(--footer-height);
    }

    footer {
        border-radius: 30px 30px 0 0;
    }
}

/* == Auth Style */
#register-form {}

#login-form {}

#contents.bg-custom-gradient {
	position: relative;
    min-height: 100svh; /* 임시 레이아웃 나중에 지우기 */
    background: linear-gradient(-45deg, #DEEEFE99, #B6C9CF99, #DEEEFE99);
    /* background-image: linear-gradient(45deg, #ECF6F7 51.75%, #ECF6F7 51.76%, #DEEFF9 100.35%, rgba(236, 246, 247, 0.00) 100.36%); */
	/* background-size: 100% 100%; */
    overflow: hidden;
    box-sizing: border-box;
}

#contents.bg-custom-gradient::before {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-image: radial-gradient(#F45F00 , #FA9819, #DEEEFE, #DEEEFE);
    filter: blur(120px);
    opacity: 0.4;
    right:-80%;
    bottom:-80%;
    animation: movingBall 15s infinite;
}

@keyframes movingBall {
	0% {
		width: 200%;
        right:-80%;
        bottom:-80%;
	}
	50% {
		width: 150%;
        right:-70%;
        bottom:-90%;
	}
	100% {
		width: 200%;
        right:-80%;
        bottom:-80%;
	}
}